.main-container {
    display: flex;
    flex-direction: column;
}

.nav-container .links {
    display: none;
}

.hamburg,
.cancel {
    display: block;
}

.main-container .content {
    width: 80%;
}

.social-links i {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.5rem;
}

.main-container .image {
    z-index: -1;
    width: 50%;
    height: 60%;
}

@media (max-width: 440px) {
    .main-container .image {
        width: 50%;
        height: 60%;
        margin-bottom: 0px;
    }

    .main-container .content {
        width: 80%;
    }

    .main-container button {
        margin-top: 15px;
    }
}

@media (max-width: 600px) {
    .main-container {
        flex-direction: column; /* Вертикальное размещение */
        align-items: center; /* Центрировать элементы */
    }

    .main-container .image {
        width: 80%; /* Ширина изображения уменьшается */
        height: auto; /* Сохраняет соотношение сторон */
    }

    .main-container .content {
        width: 90%; /* Контент займет большую часть экрана */
        text-align: center; /* Центрируем текст */
    }

    .content button {
        width: 100%; /* Кнопка занимает 100% ширины */
    }

    nav .nav-container {
        flex-direction: column; /* Вертикальная компоновка для навигации */
        align-items: center;
    }

    .nav-container .links {
        flex-direction: column; /* Вертикальная компоновка ссылок */
        align-items: center;
    }

    .nav-container .links a {
        margin: 10px 0; /* Уменьшить отступы между ссылками */
    }

    .btn {
        margin-top: 30px; /* Отступ для мобильных */
    }

    .content button {
        width: 80%; /* Кнопка занимает 80% ширины экрана на мобильных устройствах */
        font-size: 1.2rem; /* Увеличиваем размер шрифта */
    }

    /* Добавлено для управления отступами секций */
    #about,
    #skills {
        margin-top: 60px; /* Создание отступа сверху для секций */
    }
    
    #about {
        display: block; /* Скрытие удалено, чтобы секция отображалась */
    }
}
