body {
  background-color: #000000;
  font-family: "Lato";
  font-size: 14px;
  color: #100c0b;
  height: 100%;
  padding: 0;
  margin: 0; }

.no-space {
  padding: 0;
  margin: 0; }

.fullscreen {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #191726;
  overflow: hidden; }

.controls {
  padding: 10px;
  border-radius: 4px;
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0);
  background-color: #fff;
  opacity: 0.3;
  position: absolute;
  z-index: 1000;
  bottom: 10px;
  right: 10px;
  -webkit-transition: opacity 0.1s;
  -o-transition: opacity 0.1s;
  transition: opacity 0.1s; }
  .controls label {
    display: block; }
  .controls input {
    display: block;
    width: 100%; }
  .controls:hover {
    opacity: 1; }

.plexus {
  background: rgb(0, 0, 0);
  /* For browsers that do not support gradients */


/* Extra small devices (phones, less than 768px) */
/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */
